# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.so

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd


# Virtual environments
venv/
env/
.venv/


# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
staticfiles/
media/
static/
media_root/

# Django cache
**/cache/
**/tmp/

# Uploaded CSVs (your ingestion pipeline)
csv_data/*.csv
uploads/*.csv


# Environment variables
.env
.env.*
*.env


# PostgreSQL dumps
*.sql
*.dump
*.dbsqlite3


# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db


# Testing / Coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/


# Type checking
.mypy_cache/
.dmypy.json
.pyre/


# Logs
logs
*.log


# Node / Frontend (future-proofing)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

